@font-face {font-family: "Troika"; src: url('../fonts/troika.otf');}
body {background: url(../img/geometry2.png); font-size: 13px; line-height: 1.6;}
.wrap {padding:0; margin: 0 auto; max-width: 1170px; overflow: hidden;}
.wrap-vg {padding:0; margin: 50px auto; max-width: 1170px;}
.page-header, .page-header>h1 {color: #000; background-color:#950000;text-align:center; padding: 1.7em 0; margin:0;}


p,li,li a, label {color: #555}
a {color: #df1f1f; text-decoration: none;}









/*########## MENU ##########*/

.navbar-default {border: none; background-color: #F1F1F1; padding:0; border-bottom: 2px solid #F1F1F1; border-top: 2px solid #F1F1F1; margin: 0;}
.navbar {border-radius: 0; font-family:"troika";}

.navbar-default ul.navbar-nav > li.active > a {background-color: #F1F1F1; border-bottom:5px solid #9f9f9f;}

.nav { margin: 0;}

@media (min-width: 768px) {
    .navbar-nav>li>a {padding-left: 38px; padding-right: 38px}
}

@media (min-width: 900px) {
    .navbar-nav>li>a {padding-left: 48px; padding-right: 48px; font-size: 15px}
}

@media (min-width: 1200px) {
    .navbar-nav>li>a {padding-left: 60px; padding-right: 60px; font-size: 18px}
}

.navbar-collapse {padding:0;}

.container{width:100%}









/*########## MENU -> LOGIN ##########*/    
/*.reg > a{background-color: #E9E9E9; border-bottom:5px solid #AAB; border-left:3px solid #C0C0C0;border-right:3px solid #D8D8D8; position: absolute; right: 0; z-index: 9997}*/
.hid {font-size: 16px; position: absolute; border: 3px solid #D8D8D8; top: 51px; right: 0; padding: 5px; box-shadow: 1px 1px 5px #888888; background-color: #FFF; z-index: 9999;}
.hid #ff label{color: #777}
.hid #ff label:nth-child(4){padding: 8px 0 0 0}
.hid em {position: absolute; width: 100%; height: 2px; background:#FFF; top: -1px; left: 0; right: 0; z-index: 30}
.hid #ff fieldset {border:0;}
.hid #ff fieldset input {width:92%; border:1px solid #899caa;border-radius:3px;-moz-border-radius:3px;color:#3a454d; padding:8px 8px;
box-shadow:inset 0px 1px 3px #bbb; -webkit-box-shadow:inset 0px 1px 3px #bbb; -moz-box-shadow:inset 0px 1px 3px #bbb;}

.hid #ff fieldset input[type=button] {margin-top: 15px; background-color:#fff; width: auto;  padding: 5px 10px}
.hid #ff fieldset input[type=button] {font-size: 15px}
.hid #ff fieldset span {margin-left: 15px;}









/*########## SECTIONS ##########*/

.callout {padding: 30px 0; background-color: #FFF;}

.callout, .callout h1 {
	color: #fff;
	background-color: #252525;
}

.callout h1 {
	font-weight:300;
	margin:0 0 8px 0;
	padding: 0 0 0 5px;
	font-family: 'Open Sans';
	font-size: 1.8em;
  	letter-spacing: normal;
  	line-height: 24px;
  	font-family: 'Open Sans';

}
.callout p {
	padding:0 0 0 7px;
	color:#b1b1b1;
	font-size:17px;
	max-width:960px;
	margin:auto;
	font-weight: 300;
	font-family: 'Open Sans', Arial, sans-serif;
}
.callout .btn-primary {
	margin: 28px 0 0 7px;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
  	border-radius: 0;
}
.btn-primary {
	border-color:#AD5251;
	background-color:#AD5251;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
	border-color:#A94545;
	background-color:#A94545;
}

/* imagenes del section principal */
.nc {margin-top: 15px } 

/* COLOR BLANCO PARA LOS SECTION */ 
.sec {background-color: #F5F3F4; padding-top: 20px}
.sec-white {padding: 35px 0; padding-top: 0}
.sec-white .row {background-color: #FFF}
.sec-white h1 {font-family: 'troika'}

/* ROWS DEL INDEX */
.row .nc>h1 {margin: 0; font-family:"troika"; font-size: 3em}
.nall {padding: 7px}
.nt img {width: 100%; max-height: 200px}
.nc p {font-family: "Open Sans", Arial, sans-serif; font-weight: normal;}


/* TITULO DE LAS FACCIONES EN EL REGISTRO */
.sec > .container > .row > .t {font-size: 20px;}

/*LETRA ESPECIAL DEL TITULO DE LOS OBJ*/
.font-high p{font-size: 18px; color: #666; font-weight: 300; margin-left: 6px}

/*ESTILOS DE LOS OBJETOS DE FACCIONES Y BORDES SEPARANDO CADA ROW*/
.obj {text-align: center;}
.obj img {width: 250px; padding-top: 3em; cursor: pointer;}
.obj h1 {padding-top: 5px}

/*LINEAS DE LOS 3 BANDOS*/
.obj {border-right: 1px solid #DEDEDE}
.obj:last-child {border: none}



/*FORM DE REGISTRO.HTML*/
.marginsm {margin-bottom: 10px;}
.input-group {max-width: 350px;}
.acenter h1 {text-align: center; padding: 15px 0;}

@media (min-width: 768px) {
.modal-dialog {
  width: 400px;
  margin: 280px auto;
}
}

/*########## VisionGeneral ########## */

@media (min-width: 950px) {
.resources .navbar-nav>li>a {
	padding: 10px 15px;
}
.resources {font-size: 18px;}
}

@media (min-width: 768px) {
.resources .navbar-nav>li>a {
  padding: 10px 15px;
}
}

/*RECURSOS DE CADA ITEM*/
.recurses {margin: 15px 0;}

.rcr {padding: 0 10px}
.rcr:first-child {padding-left: 0;}
.rcr span {font-size: 17px}
.rcr i {font-size: 24px}


#number1,#number2,#number3,#number4, #number5 {padding: 0 15px; }
#number1,#number2,#number3,#number4, #number5 span {display: inline-block; width: 55px}

.aside-menu, .bod .container {padding: 0 0; }
.aside-menu li {background-color: #FFF; text-decoration: none; list-style: none; padding: 0 0; text-align: center; line-height: 100px; border-bottom: 2px solid #777; border-right: 2px solid #777}
.aside-menu li:hover {background-color: #E7E7E7}
.aside-menu li a {text-decoration: none; display: block; font-family: 'Troika'; font-size: 18px; color: #777}

.bod .row {margin: 0}
.bod .col-md-3 {padding: 0; margin: 0}
.nopad {padding: 0;}

.itm {position:relative; background-color: #FFF; padding: 40px 100px; padding-bottom: 40px; border-bottom: 1px solid #777}
.first-1 {padding-top: 60px}

.ccdd2 {margin-top: 58px; }
.ccdd2 p {font-size: 15px; font-family: 'Georgia';}

.ccdd2np h2 {font-family: 'Troika'; font-size: 26px; margin: 5px 0;}
.ccdd2np p {padding-top: 5px;}
.ccdd2np {font-size: 15px; font-family: 'Georgia';}

/*.first-1 .ccdd2 p {position: absolute; left: 375px; top: 160px; font-size: 16px;}*/
/*.first-1 .ccdd2 a {position: absolute; top: 300px; left: 375px;}*/

.itm h1 {margin: 0; margin-bottom: 15px; font-family: 'Troika' }
.itm a {margin-top: 10px; width: 300px; background-color: #5BB12F; color: #FFF; border-radius: 0; border: 1px solid #777; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.itm a:hover {background-color: #488D25; border: 1px solid #777}
.itm a.active,.itm a:active,.itm a.focus,.itm a:focus {background-color: #5BB12F;}

a.dsb {background-color: #97282C; color: #FFF;}
a.dsb:hover {background-color:#782023;}
a.dsb,a.dsb:active,a.dsb.focus,a.dsb:focus {background-color: #97282C; color: #FFF;} 

#hdn {display:none}


.vg-normal {float:left; margin-top: 40px}
.vg-normal p,.vg-normal span {font-size: 16px}
.pd-right-high {padding-right: 50px;}
.vg-normal h1 {font-size: 21px}

.nat-container { width: 200px; max-width: 100%; margin: 0 auto; }

/* plugin styles */
.nat-accordion {
  width: 100%;
  max-width: 100%;
}

.nat-accordion-button {
  cursor: pointer;
  font-family: 'Troika';
  padding: 8px;
  background-color: #ebebeb;
  color: #777;
  font-size: 18px;
  text-transform: uppercase;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;
  background: rgb(241,241,241);
  border-bottom: 1px solid #4A4A4A;
}

.nat-accordion-button div {
  color: #777;
  font-family: 'Troika';
  font-size: 17px;
  padding: 3px;
  border-radius: 2px;
  display: inline;
  line-height: 20px;
  float: right;
  white-space: nowrap;
  margin-left: 15px;
}



.nat-accordion-button .remitent {
	font-family: 'Georgia';
	text-transform: none;
}

.nat-accordion-button:hover {
  background: rgb(219,219,219);
}

.nat-accordion-content {
  display: none;
  padding: 10px;
  color: #333333;
  max-width: 100%;
  font-size: 16px;
  background-color: #F1F1F1;
  border-bottom: 1px solid #DBDBDB;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.noleido {background-color:#AAF20C}
.noleido:hover {background-color:#99da0b}
.elim {cursor:pointer; text-decoration: none;}

/* TABLE GENERATOR */

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 7px 8px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 17px; font-weight: bold; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 14px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }


/*########## FOOTER ##########*/
footer .foot {margin: 0;background-color: #383838; overflow: hidden; padding: 100px 0;}
